section.manager
  header
    font-size: 2em
    font-weight: 300
    text-transform: none

  article
    padding: 16px
    clear: both
    max-width: 600px
    margin: 0 auto

    a.home
      display: block
      text-align: right

  h2
    font-weight: 300
    font-size: 1.1em
    text-align: center
    margin-top: -26px
    margin-bottom: 26px
    color: #4c4c4c
