<section class='managers'>
  <header>Genomineerden</header>
  {% for manager in site.posts %}
    <article>
      <header>
        {% if manager.image %}
          <img src="{{ manager.image | prepend: '/assets/' | prepent: site.baseurl }}">
        {% else %}
          <img>
        {% endif %}
        <span>{{ manager.name }}</span>
      </header>
      <p>{{ manager.content | truncate: 390 }}</p>
      <a class='read-more' href='{{ manager.url }}'>Meer lezen</a>
    </article>
  {% endfor %}
</section>
