---
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <section class='manager'>
      <header>
        <div class="title">{{ page.name }}</div>
        <div class="underline"></div>
      </header>
      <article>
        <p>{{ content }}</p>
        {% if page.by %}
          <p><i>Genomineerd door {{ page.by }}</i></p>
        {% endif %}
        <a class='home' href='/'>Home</a>
      </article>
    </section>
  </body>
</html>
